<openerp>
	<data>

		<menuitem name="Purchases"
            id="base.menu_purchase_root"            groups="purchase.group_purchase_manager,purchase.group_purchase_user,asset_extension.group_hcv_purchase_manager,asset_extension.group_hcv_purchase_user"
            sequence="60"/>

        <menuitem action="registration_request_hcv_action" 
			id="menu_registration_request_hcv"
			groups="asset_extension.group_hcv_purchase_manager,asset_extension.group_hcv_purchase_user"
            parent="purchase.menu_procurement_management"
            sequence="1"/>
        <menuitem action="rfq_hcv_action" id="menu_rfq_hcv"
            parent="purchase.menu_procurement_management"
			groups="asset_extension.group_hcv_purchase_manager,asset_extension.group_hcv_purchase_user"
            sequence="2"/>
		<menuitem id="base.menu_procurement_management_supplier_name" name="Suppliers"
		    parent="purchase.menu_procurement_management"
			groups="asset_extension.group_hcv_purchase_manager,asset_extension.group_hcv_purchase_user"
		    action="base.action_partner_supplier_form" sequence="3"/>

		<menuitem id="purchase.menu_procurement_management_inventory" 
			name="Incoming Products"
            parent="base.menu_purchase_root" 
            groups="purchase.group_purchase_user"
			sequence="4"/>

		<menuitem id="purchase.menu_procurement_management_invoice" 
			name="Invoice Control"
        	parent="base.menu_purchase_root" 
            groups="purchase.group_purchase_user"
			sequence="6"/>

		<menuitem id="purchase.menu_procurement_management_product" 
			name="Products"
			parent="base.menu_purchase_root" 
            groups="purchase.group_purchase_user"
			sequence="8"/>

        <menuitem id="purchase.menu_purchase_config_purchase" 	
			name="Configuration"
            groups="purchase.group_purchase_manager,asset_extension.group_hcv_purchase_manager"
            parent="base.menu_purchase_root" 
			sequence="100"/>
        <menuitem
            id="purchase.menu_purchase_partner_cat" name="Address Book"
            groups="purchase.group_purchase_manager,asset_extension.group_hcv_purchase_manager"
            parent="purchase.menu_purchase_config_purchase"/>
        <menuitem
            id="purchase.menu_product_in_config_purchase" name="Products"
            parent="purchase.menu_purchase_config_purchase" sequence="30" 
			groups="base.group_no_one,asset_extension.group_hcv_purchase_manager"/>

        <menuitem
            action="base.action_partner_category_form" 
			id="purchase.menu_partner_categories_in_form" 
			name="Partner Tags"
            parent="purchase.menu_purchase_partner_cat" 
			groups="base.group_no_one,asset_extension.group_hcv_purchase_manager"/>

        <menuitem name="Asset States"
            action="asset.action_asset_state"
            id="asset_purchase.menu_asset_state"
            parent="purchase.menu_purchase_config_purchase"
            groups="purchase.group_purchase_manager,asset_extension.group_hcv_purchase_manager"
            sequence="100"/>
	</data>
</openerp>

