<openerp>
	<data>

        <menuitem name="Warehouse"
            id="stock.menu_stock_root"
            groups="stock.group_stock_manager,stock.group_stock_user,asset_extension.group_hcv_manager"
            sequence="70"/>

        <menuitem id="stock.menu_stock_warehouse_mgmt" 
			name="Operations" 
			parent="stock.menu_stock_root" 
            groups="stock.group_stock_manager,stock.group_stock_user"
			sequence="1"/>
        <menuitem
            action="stock.action_picking_type_form"
            id="stock.menu_action_picking_type_form"
            parent="stock.menu_stock_warehouse_mgmt" 
            groups="stock.group_stock_manager,stock.group_stock_user"
			sequence="1"/>

        <menuitem id="stock.menu_stock_product" 
			name="Products" 
			parent="stock.menu_stock_root" 
            groups="stock.group_stock_manager,stock.group_stock_user"
			sequence="6"/>

        <menuitem name="Assets"
            id="asset_stock.menu_maintenance_assets"
            parent="stock.menu_stock_root"
            groups="stock.group_stock_manager,stock.group_stock_user,asset_extension.group_hcv_manager"
            sequence="2"/>
        <menuitem name="Assets"
            action="asset_stock.action_assets_stock"
            id="asset_stock.menu_maintenance_assets_assets"
            parent="asset_stock.menu_maintenance_assets"
            groups="stock.group_stock_manager,stock.group_stock_user,asset_extension.group_hcv_manager"
            sequence="100"/>
        <menuitem name="Manage states"
            action="asset_stock.action_management_assets_stock"
            id="asset_stock.menu_maintenance_assets_management"
            parent="asset_stock.menu_maintenance_assets"
            groups="stock.group_stock_manager,stock.group_stock_user,asset_extension.group_hcv_manager"
            sequence="100"/>    
        <menuitem name="Accessories"
            action="asset_accessory_action"
            id="menu_assets_assets_accessories"
            parent="asset_stock.menu_maintenance_assets"
            groups="stock.group_stock_manager,stock.group_stock_user,asset_extension.group_hcv_manager"
            sequence="101"/>

        <menuitem id="stock.menu_traceability" 
			name="Traceability" 
			parent="stock.menu_stock_root" 
            groups="stock.group_stock_manager,stock.group_stock_user,asset_extension.group_hcv_manager"
            sequence="3"/>
			<menuitem action="asset_stock_move_action" 
				id="menu_action_asset_move" 
				parent="stock.menu_traceability" 
				groups="asset_extension.group_hcv_manager"
				sequence="4" />
	        <menuitem id="stock.menu_quants" 
				name="Quants" 
				parent="stock.menu_traceability" 	
				sequence="20" 
				action="stock.quantsact" 
				groups="base.group_no_one,asset_extension.group_hcv_manager"/>

        <menuitem id="stock.menu_stock_inventory_control" 
			name="Inventory Control" 
			parent="stock.menu_stock_root" 
            groups="stock.group_stock_manager,stock.group_stock_user,asset_extension.group_hcv_manager"
			sequence="4"/>
			<menuitem action="stock_account.action_history_tree"
				    id="stock_account.menu_action_history_tree"
				    parent="stock.menu_stock_inventory_control"
				    groups="stock.group_locations,asset_extension.group_hcv_manager"
				    sequence="20"/>
	        <menuitem action="stock.action_inventory_form" 
				id="stock.menu_action_inventory_form" 
				parent="stock.menu_stock_inventory_control" 
			    groups="stock.group_stock_manager,asset_extension.group_hcv_manager"
				sequence="30"/>

        <menuitem name="Reports"
            id="menu_stock_hcv_reports"
            parent="stock.menu_stock_root"
            groups="stock.group_stock_user,asset_extension.group_hcv_manager"
            sequence="10"/>


        <menuitem id="stock.menu_stock_configuration" 
			name="Configuration" 
			parent="stock.menu_stock_root" 
			sequence="15" 
			groups="stock.group_stock_manager,asset_extension.group_hcv_manager"/>


	</data>
</openerp>
